Repository solvespace/solvespace, pull requests merged in 2020-10, with the labels that each got.

#751 Remove deploy step for macOS CI
  .gitignore
  .travis.yml
  .travis/build-debian.sh
  .travis/build-macos.sh
  .travis/build-windows.sh
  .travis/install-macos.sh
  .travis/sign-macos.sh
  CMakeLists.txt
  src/drawentity.cpp
  src/mouse.cpp
  src/solvespace.h
Labels: Travis-CI

#756 Travis: optimize macOS deploy build
  .travis/build-macos.sh
Labels: Travis-CI, macOS

#758 CMake: fix LTO on Linux
  CMakeLists.txt
Labels: Linux

#765 Vertex split
  src/srf/boolean.cpp
  src/srf/surface.h
Labels: NURBS

#766 Travis: fix release notes, add Windows OpenMP
  .travis.yml
  .travis/build-debian.sh
  .travis/build-macos.sh
  .travis/build-ubuntu.sh
  .travis/build-windows.sh
  .travis/install-ubuntu.sh
  .travis/sign-macos.sh
  CMakeLists.txt
  appveyor.yml
Labels: Travis-CI
